<ul class="bullet-list">
  {% with atts=attachments|default:sermon.attachments.all %}
  {% for att in atts %}
    <li>
      {{ att.original_filename }} ({{ att.byte_size }} bytes)
      <button class="btn btn-ghost btn-danger"
        hx-get='{% url "attachment_delete" sermon.pk att.pk %}'
        hx-target='#attachment-list'
        hx-swap='outerHTML'
        hx-confirm='Delete this file?'>
        Delete
      </button>
    </li>
  {% empty %}
    <li class="empty">No attachments yet.</li>
  {% endfor %}
  {% endwith %}
</ul>

